# II. Preprocess Data

In [54]:
import json
import numpy as np
import pandas as pd
import re

## 1. Load previos dataset

In [7]:
file_path = 'data/raw_data.json'

In [8]:
with open(file_path, 'r') as file:
    data = json.load(file)

In [9]:
data[0]

{'property_info': {'Diện tích': '80 m²',
  'Mức giá': 'Thỏa thuận',
  'Số phòng ngủ': '2 phòng',
  'Số toilet': '2 phòng'},
 'date_posted': '15/10/2024',
 'address': 'Sunrise City, 23,25,27,33, Đường Nguyễn Hữu Thọ, Phường Tân Hưng, Quận 7, Hồ Chí Minh',
 'product_details': {'type': '49',
  'cate': '326',
  'city': 'SG',
  'distr': '59',
  'wardid': '8759',
  'streetid': '458',
  'projid': '527',
  'priceLevel': '-1',
  'areaLevel': '3',
  'direction': '-1',
  'room': '2'}}

## 2. Unpack data into a pandas DataFrame:

In [10]:
df = pd.json_normalize(data, sep='_')

In [12]:
df = df.drop_duplicates()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1602 entries, 0 to 2027
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date_posted                   1602 non-null   object
 1   address                       1602 non-null   object
 2   property_info_Diện tích       1601 non-null   object
 3   property_info_Mức giá         1601 non-null   object
 4   property_info_Số phòng ngủ    1015 non-null   object
 5   property_info_Số toilet       1077 non-null   object
 6   product_details_type          1601 non-null   object
 7   product_details_cate          1601 non-null   object
 8   product_details_city          1601 non-null   object
 9   product_details_distr         1601 non-null   object
 10  product_details_wardid        1601 non-null   object
 11  product_details_streetid      1601 non-null   object
 12  product_details_projid        1601 non-null   object
 13  product_details_priceLevel    1601 non-null   object
 14  product_details_areaLevel     1601 non-null   object
 15  product_details_direction     1601 non-null   object
 16  product_details_room          1601 non-null   object
 17  property_info_Mặt tiền        269 non-null    object
 18  property_info_Đường vào       166 non-null    object
 19  property_info_Hướng nhà       263 non-null    object
 20  property_info_Hướng ban công  206 non-null    object
 21  property_info_Pháp lý         389 non-null    object
 22  property_info_Nội thất        975 non-null    object
 23  property_info_Số tầng         334 non-null    object
dtypes: object(24)
memory usage: 312.9+ KB

Calculate the percentage of missing values for each column

In [14]:
missing_percentage = df.isnull().mean() * 100
print(missing_percentage)

date_posted                      0.000000
address                          0.000000
property_info_Diện tích          0.062422
property_info_Mức giá            0.062422
property_info_Số phòng ngủ      36.641698
property_info_Số toilet         32.771536
product_details_type             0.062422
product_details_cate             0.062422
product_details_city             0.062422
product_details_distr            0.062422
product_details_wardid           0.062422
product_details_streetid         0.062422
product_details_projid           0.062422
product_details_priceLevel       0.062422
product_details_areaLevel        0.062422
product_details_direction        0.062422
product_details_room             0.062422
property_info_Mặt tiền          83.208489
property_info_Đường vào         89.637953
property_info_Hướng nhà         83.583021
property_info_Hướng ban công    87.141074
property_info_Pháp lý           75.717853
property_info_Nội thất          39.138577
property_info_Số tầng           79.151061
dtype: float64

We will remove columns that contain similar data, columns that are not necessary, and columns with a missing ratio greater than 50%
- product_details_distr
- product_details_wardid
- product_details_areaLevel
- product_details_direction
- product_details_streetid
- product_details_projid
- property_info_Mặt tiền
- property_info_Đường vào
- property_info_Hướng nhà
- property_info_Hướng ban công
- property_info_Pháp lý
- property_info_Số tầng

In [23]:
columns_to_remove = [
    'product_details_distr',
    'product_details_wardid',
    'product_details_streetid',
    'product_details_direction',
    'product_details_areaLevel',
    'product_details_projid',
    'property_info_Mặt tiền',
    'property_info_Đường vào',
    'property_info_Hướng nhà',
    'property_info_Hướng ban công',
    'property_info_Pháp lý',
    'property_info_Số tầng'
]
df = df.drop(columns=[col for col in columns_to_remove if col in df.columns])

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1602 entries, 0 to 2027
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date Posted         1602 non-null   object
 1   Address             1602 non-null   object
 2   Area                1601 non-null   object
 3   Price               1601 non-null   object
 4   Number of Bedrooms  1015 non-null   object
 5   Number of Toilets   1077 non-null   object
 6   Property Type       1601 non-null   object
 7   Category            1601 non-null   object
 8   City                1601 non-null   object
 9   Price Level         1601 non-null   object
 10  Number of Rooms     1601 non-null   object
 11  Furniture           975 non-null    object
dtypes: object(12)
memory usage: 162.7+ KB

Now, we will rename the columns

In [25]:
columns_rename = {
    'property_info_Diện tích': 'Area',
    'date_posted': 'Date Posted',
    'address': 'Address',
    'product_details_cate': 'Category',
    'property_info_Mức giá': 'Price',
    'property_info_Số phòng ngủ': 'Number of Bedrooms',
    'property_info_Số toilet': 'Number of Toilets',
    'product_details_type': 'Property Type',
    'product_details_city': 'City',
    'product_details_priceLevel': 'Price Level',
    'product_details_room': 'Number of Rooms',
    'property_info_Nội thất': 'Furniture'
}

df = df.rename(columns=columns_rename)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1602 entries, 0 to 2027
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date Posted         1602 non-null   object
 1   Address             1602 non-null   object
 2   Area                1601 non-null   object
 3   Price               1601 non-null   object
 4   Number of Bedrooms  1015 non-null   object
 5   Number of Toilets   1077 non-null   object
 6   Property Type       1601 non-null   object
 7   Category            1601 non-null   object
 8   City                1601 non-null   object
 9   Price Level         1601 non-null   object
 10  Number of Rooms     1601 non-null   object
 11  Furniture           975 non-null    object
dtypes: object(12)
memory usage: 162.7+ KB

## 3. Preprocessing for category collumns

### 3.1 City

In [27]:
df['City'].unique()

array(['SG', 'HN', 'BD', 'BN', 'HP', 'LA', 'HY', 'DDN', 'DNA', 'KH', 'CT',
       'TH', 'QT', 'VT', 'TG', 'BTH', 'BP', 'QNA', 'BDD', 'BTR', 'HGI',
       'TNI', 'TN', 'NA', 'KG', 'VP', 'QNI', 'PY', 'LDD', 'QB', 'TB', nan,
       'QNG'], dtype=object)

We will replace the city code with it name:
- SG: Thành phố Hồ Chí Minh
- HN: Hà Nội
- BD: Bình Dương
- BN: Bắc Ninh
- HP: Hải Phòng
- LA: Long An
- HY: Hưng Yên
- DDN: Đà Nẵng
- DNA: Đồng Nai
- KH: Khánh Hòa
- CT: Cần Thơ
- TH: Thanh Hóa
- QT: Quảng Trị
- VT: Bà Rịa – Vũng Tàu
- TG: Tiền Giang
- BTH: Bình Thuận
- BP: Bình Phước
- QNA: Quảng Nam
- BDD: Bình Định
- BTR: Bến Tre
- HGI: Hậu Giang
- TNI: Tây Ninh

In [28]:
city_replacement = {
    'SG': 'Thành phố Hồ Chí Minh',
    'HN': 'Hà Nội',
    'BD': 'Bình Dương',
    'BN': 'Bắc Ninh',
    'HP': 'Hải Phòng',
    'LA': 'Long An',
    'HY': 'Hưng Yên',
    'DDN': 'Đà Nẵng',
    'DNA': 'Đồng Nai',
    'KH': 'Khánh Hòa',
    'CT': 'Cần Thơ',
    'TH': 'Thanh Hóa',
    'QT': 'Quảng Trị',
    'VT': 'Bà Rịa – Vũng Tàu',
    'TG': 'Tiền Giang',
    'BTH': 'Bình Thuận',
    'BP': 'Bình Phước',
    'QNA': 'Quảng Nam',
    'BDD': 'Bình Định',
    'BTR': 'Bến Tre',
    'HGI': 'Hậu Giang',
    'TNI': 'Tây Ninh'
}

df['City'] = df['City'].replace(city_replacement)

Because some cities have too few data, we will only select the top cities with the most information. First, we will check the number of entries for each city.

In [31]:
city_counts = df['City'].value_counts()
city_counts.head(3)

City
Thành phố Hồ Chí Minh    859
Hà Nội                   540
Bình Dương                63
Name: count, dtype: int64

Choose 3 cities with the most entries

In [32]:
selected_cities = [
    'Thành phố Hồ Chí Minh',
    'Hà Nội',
    'Bình Dương',
]

df = df[df['City'].isin(selected_cities)]

We will extract district data from address

In [33]:
districts_hcm = [
    'quận 1','quận 2', 'quận 3', 'quận 4', 'quận 5', 'quận 6',
    'quận 7', 'quận 8','quận 9', 'quận 10', 'quận 11', 'quận 12',
    'tân bình', 'bình tân', 'bình thạnh',
    'tân phú', 'gò vấp', 'phú nhuận',
    'bình chánh', 'hóc môn', 'cần giờ',
    'củ chi', 'nhà bè', 'thủ đức'
]

In [34]:
districts_hn = [
    'ba đình', 'cầu giấy', 'đống đa', 'hai bà trưng', 'hoàn kiếm',
    'thanh xuân', 'hoàng mai', 'long biên', 'hà đông', 'tây hồ',
    'nam từ liêm', 'bắc từ liêm',
    'thanh trì', 'ba vì', 'đan phượng', 'gia lâm', 'đông anh',
    'thường tín', 'thanh oai', 'chương mỹ', 'hoài đức', 'mỹ đức',
    'phúc thọ', 'thạch thất', 'quốc oai', 'phú xuyên', 'ứng hòa',
    'mê linh', 'sóc sơn',
    'sơn tây'
]

In [35]:
districts_bd = [
    'thuận an',
    'tân uyên',
    'dĩ an',
    'bến cát',
    'thủ dầu một',
    'dầu tiếng',
    'bàu bàng',
    'phú giáo',
    'bắc tân uyên'
]

In [36]:

def extract_district(address, districts):
    address_lower = address.lower()
    for district in districts:
        if district in address_lower:
            return district.capitalize()
    return None

In [37]:
df_test = df.copy()
all_districts = districts_hcm + districts_hn + districts_bd
df_test['District'] = df_test['Address'].apply(extract_district, args=(all_districts,))
df_test['District'].unique()

array(['Quận 7', 'Đống đa', 'Thuận an', 'Gia lâm', 'Cầu giấy',
       'Bắc từ liêm', 'Quận 2', 'Quận 1', 'Hai bà trưng', 'Bình thạnh',
       'Thanh xuân', 'Tây hồ', 'Tân bình', 'Nam từ liêm', 'Hoàng mai',
       'Dĩ an', 'Nhà bè', 'Ba đình', 'Thanh trì', 'Thủ dầu một',
       'Bình tân', 'Quận 9', 'Phú nhuận', 'Thủ đức', 'Tân phú', 'Hà đông',
       'Bình chánh', 'Long biên', 'Hoàn kiếm', 'Đông anh', 'Gò vấp',
       'Quận 5', 'Quận 3', 'Hoài đức', 'Thường tín', 'Quận 4', 'Quốc oai',
       'Quận 8', 'Thạch thất', 'Mê linh', 'Củ chi', 'Bến cát', 'Quận 6',
       'Bàu bàng', 'Tân uyên', 'Hóc môn', 'Chương mỹ', 'Phú giáo'],
      dtype=object)

In [38]:
missing_districts = df_test[df_test['District'].isnull()]
missing_districts

Empty DataFrame
Columns: [Date Posted, Address, Area, Price, Number of Bedrooms, Number of Toilets, Property Type, Category, City, Price Level, Number of Rooms, Furniture, District]
Index: []

In [39]:
all_districts = districts_hcm + districts_hn + districts_bd
df['District'] = df['Address'].apply(extract_district, args=(all_districts,))

### 3.2 Property Type

We'll identify the unique values in the 'Property Type' column

In [40]:
df['Property Type'].unique()

array(['49'], dtype=object)

Remove columns from the DataFrame t

In [41]:
df = df.drop(columns=['Property Type'])

### 3.3 Category

We'll identify the unique values in the 'Category' column

In [42]:
df['Category'].unique()

array(['326', '50', '651', '53', '576', '52', '51', '55', '577', '57'],
      dtype=object)

In [45]:
for category in df['Category'].unique():

    first_address = df[df['Category'] == category].iloc[1]['Address']

    print(f"Category: {category}, First Address: {first_address}")

Category: 326, First Address: Dự án Opal Skyline, Đường Nguyễn Văn Tiết, Phường Lái Thiêu, Thuận An, Bình Dương
Category: 50, First Address: Charmvit Tower, Trần Duy Hưng, Trung Hòa, Cầu Giấy, Hà Nội
Category: 651, First Address: Đường Hoàng Văn Thụ, Phường 4, Tân Bình, Hồ Chí Minh
Category: 53, First Address: Đường Phan Trọng Tuệ, Xã Vĩnh Quỳnh, Thanh Trì, Hà Nội
Category: 576, First Address: Dự án Roman Plaza, Đường Tố Hữu, Phường Đại Mỗ, Nam Từ Liêm, Hà Nội
Category: 52, First Address: Số 16a ngõ 523, Phố Kim Mã, Phường Ngọc Khánh, Ba Đình, Hà Nội
Category: 51, First Address: Đường Trịnh Văn Bô, Phường Phương Canh, Nam Từ Liêm, Hà Nội.
Category: 55, First Address: Dự án Cantavil An Phú, Đường Song Hành, Phường An Phú, Quận 2, Hồ Chí Minh
Category: 577, First Address: Him Lam Kênh Tẻ, 66, Đường 8, Phường Tân Hưng, Quận 7, Hồ Chí Minh
Category: 57, First Address: Ngõ 50, Đường Mễ Trì Thượng, Phường Mễ Trì, Nam Từ Liêm, Hà Nội

After research, i know

'326' → 'Căn hộ chung cư'   
'50' → 'Văn phòng'  
'651' → 'Chung cư mini, căn hộ dịch vụ'   
'53' → 'Kho, nhà xưởng, đất'  
'576' → 'Shophouse nhà phố thương mại'
'52' → 'Nhà riêng'   
'51' → 'Nhà mặt phố'  
'55' → 'Cửa hàng, ki ốt'  
'577' → 'Nhà biệt thự, liền kề'  
'57' → 'Nhà trọ, phòng trọ'

In [46]:
category = [
    'Căn hộ chung cư',                # '326'
    'Văn phòng',                       # '50'
    'Chung cư mini, căn hộ dịch vụ',  # '651'
    'Kho, nhà xưởng, đất',            # '53'
    'Shophouse nhà phố thương mại',    # '576'
    'Nhà riêng',                       # '52'
    'Nhà mặt phố',                     # '51'
    'Cửa hàng, ki ốt',                # '55'
    'Nhà biệt thự, liền kề',          # '577'
    'Nhà trọ, phòng trọ'              # '57'
]


category_dict = {
    '326': category[0],  # Căn hộ chung cư
    '50': category[1],   # Văn phòng
    '651': category[2],  # Chung cư mini, căn hộ dịch vụ
    '53': category[3],   # Kho, nhà xưởng, đất
    '576': category[4],  # Shophouse nhà phố thương mại
    '52': category[5],   # Nhà riêng
    '51': category[6],   # Nhà mặt phố
    '55': category[7],   # Cửa hàng, ki ốt
    '577': category[8],  # Nhà biệt thự, liền kề
    '57': category[9]    # Nhà trọ, phòng trọ
}

In [47]:
df['Category'] = df['Category'].replace(category_dict)

In [48]:
df['Category'].unique()

array(['Căn hộ chung cư', 'Văn phòng', 'Chung cư mini, căn hộ dịch vụ',
       'Kho, nhà xưởng, đất', 'Shophouse nhà phố thương mại', 'Nhà riêng',
       'Nhà mặt phố', 'Cửa hàng, ki ốt', 'Nhà biệt thự, liền kề',
       'Nhà trọ, phòng trọ'], dtype=object)

### 3.4 Furniture

In [49]:
df['Furniture'].unique()

array([nan, 'Cơ bản', 'Đầy đủ', 'Đầy đủ.',
       'Từ nội thất nguyên bản chủ đầu tư - Cơ bản - Đầy đủ.',
       'Full nội thất cao cấp mới 100% máy lạnh, bếp, máy nước nóng, tủ đồ âm tường.',
       'Cơ bản.', 'Full nội thất cao cấp', 'Nội thất châu Âu cao cấp',
       'Nội thất cao cấp từ CĐT: full hệ tủ quần áo, tủ giày, smart home contro, toilét thông minh, máy giặt-sấy, styler, máy rửa chén, full hệ bếp cao cấp, máy lạnh, tủ lạnh...',
       'Thang máy, điều hòa âm trần, trần thạch cao, hầm để xe, PCCC đầy đủ',
       'Đầy đủ nội thất.', 'Full đồ.', 'NT cơ bản.',
       'Cơ bản có rèm + bếp từ + máy hút mùi.',
       'Cơ bản - Nội thất đầy đủ: Bàn bếp, tủ bếp, bếp từ, rèm, giá phơi, giường tủ, sofa, tivi.',
       'Nội thất hoàn thiện của chủ đầu tư: Sàn gỗ, trần thạch cao, hệ thống chiếu sáng, hệ thống bếp cao cấp, điều hòa âm trần Mitsubishi, tủ âm tường. Full nội thất: Sofa, giường, bàn ăn, tivi, tủ lạnh.',
       'Đầy đủ nội thất', 'Không nội thất',
       '- Phòng họp trang bị đầy đủ máy chiếu, bảng bút... - Sử dụng các thiết bị văn phòng: Điện thoại, máy in, photocopy..',
       'Đầy đủ đồ', 'NTCB.', 'Cơ Bản',
       'Full nội thất và nội thất cơ bản.', 'Nội thất cơ bản',
       'Đầy đủ - Căn nguyên bản: Trang thiết bị vệ sinh, điều hòa phòng ngủ và phòng khách. (phù hợp làm kinh doanh, văn phòng hoặc để ở).',
       'Cơ bản nội thất: Đầy đủ nội thất: Tivi, máy giặt, tủ lạnh, sofa, giường, tủ quần áo, máy lạnh,...',
       'Giường, Tủ quần áo 3 cánh, mới, bàn bếp, điều hòa âm trần, tủ lạnh. Khép kín. Phòng ở tầng 2. Thang máy và thang bộ chủ động. Đồ dùng có thể setup thêm nếu người thuê yêu cầu, cả nhà chỉ có 5 phòng và',
       'Full đồ nội thất chỉ việc sách va li tới ở.',
       'Nội thất hoàn thiện của chủ đầu tư: Sàn gỗ, trần thạch cao, hệ thống chiếu sáng, hệ thống bếp cao cấp, điều hòa âm trần Mitsubishi, tủ âm tường. - Full nội thất: Sofa, giường, bàn ăn, tivi, tủ lạnh',
       'Full nội thất.',
       'Bệ bếp, chậu rửa, nóng lạnh, điều hoà, giường tủ.',
       'Máy lạnh - thang máy - máy phát điện.',
       'Đầy đủ nội thất của 1 office chuẩn, máy lạnh, thang máy, máy phát điện.',
       'Máy lạnh, thang máy.', 'Nội thất cơ bản: Rèm cửa, máy lạnh, bếp.',
       'Full đồ nội thất.',
       '- Full Nội thất: Tủ lạnh, máy lạnh, máy giặt, Tủ quần áo, tử bếp, bếp từ,... ..',
       'cao cấp', 'Full nội thất như hình.', 'Nội thất cơ bản.',
       'Nội thất cơ bản: Bếp, rèm, máy lạnh.',
       'Đầy đủ nội thất cơ bản full mới, hiện đại.', 'Đầy đủ đồ.',
       'Nội thất cao cấp', 'Full nội thất', 'Nhà trống.',
       'Cơ bản Căn hộ có đồ cơ bản: Điều hòa, nóng lạnh, rèm cửa... Phù hợp làm văn phòng công ty.',
       'Đầy đủ đồ đạc, máy lạnh, bàn ghế, tủ đồ, tủ lạnh, lò vi sóng, máy in, máy chiếu',
       'Nhà bàn giao hoàn thiện cơ bản.', 'NTCB - Đầy đủ',
       'Nội thất: Full nội thất cao cấp.', 'Tất cả nhu cầu.',
       'Đầy đủ điều hòa rèm cửa đủ bộ, tủ bếp..',
       '4 máy lạnh Bếp điện - máy hút mùi 01 máy nước nóng',
       '- Full nội thất.', 'Full nội thất đầy đủ', 'Đầy đủ nội thất đẹp.',
       'Chưa hoàn thiện',
       'Đầy đủ. + Nội thất đầy đủ, chỉ việc dọn vào ở ngay. Căn hộ được trang bị đầy đủ tiện nghi.',
       '+ Nội thất cơ bản: Bếp, rèm, máy lạnh.', 'Nội thất cao cấp.',
       'Đầy đủ Ti vi, tủ lạnh, điều hoà, bàn ghế, bàn ăn, giường tủ đầy đủ các phòng. Ti vi, tủ lạnh, điều hoà, bàn ghế, bàn ăn, giường tủ đầy đủ các phòng.',
       'Nội thất setup bao gồm: Full nội thất, giường tủ, bàn ăn, 2 điều hòa nóng lạnh, tủ bếp, bếp từ, tủ đồ, tủ lạnh, Tivi...',
       'Full nội thất, đồ điện tử xịn. Trang bị máy lọc nước, TV 65 inch, đệm lò xo cao cấp 23 cm.',
       'Tivi, điều hòa, tủ lạnh, lò vi sóng, bình nóng lạnh, máy giặt, giường, chăn ga gối đệm, tủ quần áo, bàn trang điểm, bàn ăn, tủ bếp, bếp từ đôi âm, hút mùi, đầy đủ đồ dùng nấu ăn, bát đĩa, cốc chén.',
       'Đầy đủ - Đồ cơ bản.', 'Full nội thất như hình', 'Đồ cơ bản.',
       '+ Phòng khách: Sofa, tivi. + Bếp: Bàn ăn, tủ lạnh, bếp từ,...',
       'Đầy đủ - Cao cấp', 'Nội thất đầy đủ.', 'Máy lạnh, tủ kệ bếp...',
       'Nội thất mới 100% gồm: Giường, tủ, bàn làm việc, tủ bếp, bếp từ âm, tủ lạnh, máy lạnh, máy giặt chung, truyền hình cáp, Wifi.',
       '- Nhà bếp riêng biệt: Bếp điện từ, máy hút mùi, chậu rửa đôi thương hiệu Hafele, tủ bếp trên - dưới. - Tường, trần thạch cao sơn nước trắng, hệ thống đèn chiếu sáng hiện đại. - Sàn gạch bóng 60x60cm.',
       '2 điều hòa, 2 bình nóng lạnh, sofa, bàn ăn, 2 giường sẵn đệm gối, rèm cửa đủ 3 cửa, kệ chén bát',
       'Đã được trang bị đầy đủ nội thất.',
       'Đầy đủ giường tủ, bàn ghế, điều hòa, máy giặt',
       'Hoàn thiện cao cấp, vệ sinh đầy đủ tiện nghi.',
       'Nhà mới đầy đủ đồ dùng nội thất: Có nóng lạnh, điều hòa 2 chiều, giường tủ, bàn ghế, tivi, tủ lạnh, cây nước, hệ thống tủ bếp hai tầng, lò vi sóng và toàn bộ dụng cụ nấu ăn, vòi tắm hoa sen...',
       'Giường, tủ, máy giặt từng tầng, điều hòa Daikin tiết kiệm điện tối đa, điều hòa, tủ lạnh.',
       'Nguyên bản.', 'Đầy đủ sẵn ở ngay.', 'Full.',
       'Nhà nguyên bản nhận từ chủ đầu tư đã có điều hòa, nóng lạnh hoặc có thêm tủ bếp, rèm, giàn phơi ngoài ra có cả căn đã lắp đầy đủ nội thất và tiện nghi như ti vi, tủ lạnh, máy giặt, sofa, bàn ăn...',
       'Phòng thất từ bản chủ tư đến cơ bản.',
       'Nội Thất: Full 4 bộ Giường, Tủ Quần Áo, nệm, Sofa, 4 Máy Lạnh, Bếp âm, Máy hút Mùi, NLMT. Thang máy 460kg.',
       'Đầy đủ trang bị full nội thất, đồ dùng, tủ lạnh, giặt, sấy, nóng lạnh, đủ điều hòa, thiết bị vệ sinh, rèm cửa...',
       'Full nội thất đẹp.', 'Đủ đồ',
       'Nội thất cơ bản: Rèm, máy lạnh, máy nước nóng, giàn phơi.',
       'Đầy đủ cao cấp.',
       'Đầy đủ: Sàn gỗ, điều hoà, nóng lạnh, tủ lạnh, wifi riêng, bếp từ, bàn trang điểm, đệm chăn ga gối, bát nồi,...',
       'Nội thất đầy đủ', '- Nội thất cao cấp, mới 100%.',
       'Tủ và bếp âm tường', 'Có sẵn máy lạnh.', 'Xem trên hình.',
       'Nội thất: 2 Máy Lạnh, Tủ lạnh, 2 giường, 2 tủ đồ, kệ bếp, nóng lạnh.',
       'Tất cả thiết bị nội thất trong nhà đều cao cấp.',
       'Nội thất: Đồ nội thất đầy đủ - full option, xách vali vào ở luôn.',
       'Đẩy đủ', 'Trang thiết bị nội thất đầy đủ.',
       'Máy lạnh, thang máy, máy phát điện...',
       'Máy lạnh, thang máy, máy phát điện.',
       'Thang máy, máy phát điện, máy lạnh...', 'Full',
       'Nội thất nhập khẩu hiện đại.',
       'ML, bếp, tủ bếp, máy nước nóng...',
       'Lắp đặt nội thất theo yêu cầu: Máy lạnh, tủ lạnh, máy giặt, bếp, giường, tủ quần áo, bàn ăn, sofa, ti vi, máy nước nóng...',
       'Không nội thất.', 'Giường tủ điều hòa, nóng lạnh đủ.',
       'Đầy đủ nội thất, điều hoà tất cả các tầng, bếp từ, đồ decor trang trí...',
       'Hoàn thiện cơ bản hoặc full đồ.',
       'Đầy đủ Nội thất đầy đủ: Có thêm tivi, tủ lạnh, máy giặt, giường, đệm, tủ quần áo, sofa, bàn ăn, lò vi sóng, hệ thống điều hòa hòa, tủ bếp, nóng lạnh.',
       '- Full điều hòa, nóng lạnh. - Thang máy nhập ngoại.',
       'Nội thất cơ bản - full đồ.',
       'Cơ bản full nội thất (ngoại trừ giường), có nước nóng năng lượng mặt trời.',
       'Full nội thất cao cấp.', 'Cơ bản, điều hòa, bếp, nóng lạnh.',
       'Điều hòa 2 chiều Daikin, hệ thống trần thạch cao, hệ thống tủ bếp, bếp từ cao cấp, tivi, tủ lạnh, máy giặt, sofa nhập khẩu,...',
       'Thiết bị nội thất nhập khẩu hiện đại: Tivi 55inch, sofa, điều hòa Aikido, tủ lạnh side by side, sàn gỗ, máy giặt, hệ thống bếp, tủ bếp, tủ âm tường, giường, bàn ăn...',
       'Cơ bản Nhà mới, thiết kế hiện đại, các tầng thông sàn cầu thang máy cuối nhà, nhà đầy đủ điều hòa nóng lạnh, đèn lép trần thạch cao,...',
       'Full nội thất đẹp - Sang trọng.', 'Nội thất đầy đủ, nhà đẹp.',
       'Trang bị đầy đủ nội thất; Tivi, sofa, giường nêm, tủ quần áo, bàn làm việc.',
       'Bàn giao đầy đủ trần, sàn, điều hòa, PCCC.',
       'Full. Nội thất cao cấp cực đẹp.',
       'Nội thất đầy đủ đồ cơ bản: Điều hoà, nóng lạnh, tủ bếp, rèm cửa, giàn phơi. - Nội thất đủ đồ cơ bản.',
       'Đầy đủ - Đồ gỗ: Giường, tủ quần áo, bàn làm việc, kệ giầy, giá sách, bàn ăn (sofa).',
       'NTCB', 'Nội thất tùy nhu cầu', 'Nội thất tiêu chuẩn',
       'Nội thất cơ bản', 'Nội thất CĐT.', 'Nội thất cao cấp mới đẹp.',
       'Full đồ', 'Nội thất cao cấp, mới 100%.', 'CƠ BẢN',
       'Sẵn trần, điều hòa và hệ thống đèn điện.',
       'Đầy đủ nội thất sang trọng'], dtype=object)

I categorize the Furniture information into the following group:
- Unfurnished
- Basic
- Fully Furnished
- High-end
- Unspecified

In [50]:
def categorize_furniture(furniture_description):
    if pd.isna(furniture_description):
        return 'Unspecified'

    description = furniture_description.lower()

    if 'không nội thất' in description or 'nhà trống' in description or 'nguyên bản' in description:
        return 'Unfurnished'
    elif 'cơ bản' in description or 'ntcb' in description or 'nội thất cơ bản' in description:
        return 'Basic'
    elif 'full' in description or 'đầy đủ' in description or 'full nội thất' in description or 'xách vali vào ở luôn' in description:
        return 'Fully Furnished'
    elif 'cao cấp' in description or 'nội thất cao cấp' in description or 'châu âu' in description:
        return 'High-end'
    else:
        return 'Unspecified'

In [51]:
df['Furniture'] = df['Furniture'].apply(categorize_furniture)

## 4. Preprocessing for Numbers collumns

### 4.1 Area

All unit is square meter

In [58]:
df['Area'] = df['Area'].apply(lambda x: float(re.search(r'\d+(\.\d+)?', str(x)).group(0)) if pd.notna(x) and re.search(r'\d+(\.\d+)?', str(x)) else None)

In [59]:
df['Area'].sample(5)

1464     60.0
524     114.0
990      64.0
1885     50.0
533     100.0
Name: Area, dtype: float64

### 4.2 Price

In [60]:
df['Price'].sample(5)

1204       200 nghìn/m²
469                 NaN
628       9 triệu/tháng
440      50 triệu/tháng
1268    167 triệu/tháng
Name: Price, dtype: object

In [56]:
df['Price'].str.split(' ').apply(lambda x: x[1]).unique()

array(['thuận', 'triệu/tháng', 'nghìn/m²', 'nghìn/tháng', 'triệu/m²'],
      dtype=object)

We will convert them into a single price.  
For triệu/tháng, multiply by 1,000,000.  
For nghìn/tháng, multiply by 1,000.   
For nghìn/m², multiply by 1,000 and then by the Area.   
For triệu/m², multiply by 1,000,000 and then by the Area.   
Set "Thỏa thuận" to NaN.

In [61]:
df['Price'] = df['Price'].replace('Thỏa thuận', np.nan)


df['Price_Numeric'] = df['Price'].str.extract(r'(\d*\.?\d+)\s*(.*)')[0].astype(float)
df['Unit'] = df['Price'].str.extract(r'(\d*\.?\d+)\s*(.*)')[1]


df['Price'] = np.where(df['Unit'].str.contains('triệu/tháng'), df['Price_Numeric'] * 1_000_000,
                np.where(df['Unit'].str.contains('nghìn/tháng'), df['Price_Numeric'] * 1_000,
                np.where(df['Unit'].str.contains('nghìn/m²'), df['Price_Numeric'] * 1_000 * df['Area'],
                np.where(df['Unit'].str.contains('triệu/m²'), df['Price_Numeric'] * 1_000_000 * df['Area'],
                np.nan))))

df.drop(['Price_Numeric', 'Unit'], axis=1, inplace=True)

In [62]:
df['Price'].unique()

array([        nan, 5.00000e+07, 4.00000e+06, 5.00000e+06, 1.20000e+07,
       9.00000e+06, 7.00000e+06, 1.30000e+07, 8.00000e+06, 1.60000e+07,
       3.00000e+07, 1.50000e+07, 1.10000e+07, 2.20000e+07, 1.40000e+07,
       2.60000e+07, 3.20000e+07, 1.70000e+07, 5.70000e+07, 2.70000e+07,
       1.12050e+08, 1.76400e+07, 3.50000e+07, 1.80000e+07, 1.00000e+07,
       2.30000e+07, 6.00000e+06, 2.80000e+07, 6.50000e+07, 4.30000e+07,
       4.00000e+07, 2.00000e+07, 7.50000e+07, 1.90000e+07, 2.50000e+07,
       3.80000e+07, 2.40000e+07, 1.50000e+08, 5.50000e+07, 1.80000e+08,
       8.50000e+08, 2.42000e+08, 5.10000e+07, 3.90000e+07, 4.40000e+07,
       4.20000e+07, 3.30000e+07, 7.00000e+07, 3.00000e+06, 4.00000e+08,
       2.50000e+08, 4.70000e+07, 2.90000e+07, 1.70000e+08, 6.10000e+07,
       1.21000e+08, 3.60000e+07, 6.25000e+08, 1.35000e+07, 1.25000e+07,
       2.00000e+06, 4.80000e+07, 4.00000e+05, 2.60000e+06, 1.25000e+08,
       2.26688e+06, 3.50000e+06, 6.00000e+07, 1.75000e+08, 4.32000e+08,
       6.60000e+07, 1.09000e+08, 1.20000e+08, 4.50000e+07, 5.00000e+08,
       3.40000e+07, 5.50000e+08, 1.00000e+08, 2.40000e+08, 3.70000e+07,
       1.38000e+08, 2.10000e+07, 1.00000e+06, 4.60000e+07, 4.99000e+05,
       9.50000e+07, 1.98000e+08, 2.00000e+08, 5.49000e+09, 4.52100e+05,
       9.00000e+07, 1.37500e+08, 1.40000e+08, 1.60000e+08, 2.95000e+08,
       3.10000e+07, 2.80000e+08, 2.44200e+07, 9.39550e+07, 4.48000e+07,
       7.40000e+07, 6.88500e+07, 5.80000e+07, 1.95000e+08, 4.19000e+07,
       6.00000e+04, 8.00000e+07, 5.26500e+07, 3.70000e+08, 6.00000e+08,
       2.04000e+05, 9.80000e+07, 1.30000e+08, 3.50000e+08, 3.00000e+08,
       4.20000e+08, 4.70000e+08, 2.70000e+08, 8.00000e+08, 3.93300e+05,
       1.10000e+08, 8.90000e+07, 2.96625e+08, 8.55000e+07, 4.90000e+07,
       2.30400e+08, 1.85000e+05, 2.55000e+08, 1.15000e+07, 4.13000e+08,
       2.45000e+05, 1.99000e+08, 1.67000e+08, 6.00000e+05, 1.37000e+08,
       5.66000e+07, 3.75000e+07, 5.75000e+07, 8.70000e+07, 1.19000e+08,
       9.37500e+07, 1.44000e+05, 6.80000e+07, 1.30000e+06, 8.50000e+07,
       8.80000e+05, 6.20000e+07])

### 4.3 Price Leval

In [63]:
df['Price Level'].unique()

array(['-1', '6', '3', '4', '5', '8', '7', '2', '1'], dtype=object)

As we can see, the price level describes the price range. We are going to create a new column, 'price range,' to display the range of prices

In [64]:
price_ranges = {
    -1: "Thỏa thuận",
    1: "Dưới 1 triệu",
    2: "1 - 3 triệu",
    3: "3 - 5 triệu",
    4: "5 - 10 triệu",
    5: "10 - 40 triệu",
    6: "40 - 70 triệu",
    7: "70 - 100 triệu",
    8: "Trên 100 triệu"
}


df['Price Level'] = pd.to_numeric(df['Price Level'], errors='coerce')
df['Price Range'] = df['Price Level'].map(price_ranges)

df[['Price','Price Level', 'Price Range']].sample(5)

           Price  Price Level    Price Range
1974  35000000.0            5  10 - 40 triệu
134    6000000.0            4   5 - 10 triệu
115          NaN           -1     Thỏa thuận
833   16000000.0            5  10 - 40 triệu
1344  12000000.0            5  10 - 40 triệu

### 4.4 Number of Bedrooms

In [65]:
df['Number of Bedrooms'].unique()

array(['2 phòng', nan, '1 phòng', '3 phòng', '4 phòng', '13 phòng',
       '10 phòng', '8 phòng', '5 phòng', '9 phòng', '6 phòng', '7 phòng',
       '21 phòng', '31 phòng', '95 phòng'], dtype=object)

In [66]:
df['Number of Bedrooms'] = df['Number of Bedrooms'].str.extract('(\d+)').astype(float)
df['Number of Bedrooms'].unique()

array([ 2., nan,  1.,  3.,  4., 13., 10.,  8.,  5.,  9.,  6.,  7., 21.,
       31., 95.])

### 4.5 Number of Toilets

In [67]:
df['Number of Toilets'].unique()

array(['2 phòng', '18 phòng', '1 phòng', nan, '10 phòng', '8 phòng',
       '5 phòng', '3 phòng', '13 phòng', '6 phòng', '4 phòng', '16 phòng',
       '30 phòng', '7 phòng', '9 phòng', '32 phòng'], dtype=object)

In [68]:
df['Number of Toilets'] = df['Number of Toilets'].str.extract('(\d+)').astype(float)
df['Number of Toilets'].unique()

array([ 2., 18.,  1., nan, 10.,  8.,  5.,  3., 13.,  6.,  4., 16., 30.,
        7.,  9., 32.])

### 4.6 Number of Rooms

In [69]:
df['Number of Rooms'].unique()

array(['2', '-1', '1', '3', '4', '13', '10', '8', '5', '9', '6', '7',
       '21', '31', '95'], dtype=object)

In [70]:
df['Number of Rooms'] = df['Number of Rooms'].str.extract('(\d+)').astype(float)
df['Number of Rooms'].unique()

array([ 2.,  1.,  3.,  4., 13., 10.,  8.,  5.,  9.,  6.,  7., 21., 31.,
       95.])

## 5. Save processed data

In [71]:
proccessed_data = 'data/proccessed_data.csv'
df.to_csv(proccessed_data)